body{
    background-color: black;
}
.heading{
    text-align: center;
    color: beige;
}
.container{
    display:flex;
    flex-direction: column;
   align-items: center;
}
.input{
    margin: 3px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding:15px;
    font-size: 15px;
    
  
}
button{
    margin: 3px;
    padding:12px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px white;
   width:50px;
}
.operation{
    
    margin: 3px;   
    padding:8px;
    font-size: 25px;
     font-weight:400px ;
    border-radius: 15px;
    color: red;
    box-shadow: 2px 2px 5px rgb(221, 164, 164);
}
.button:hover{
    transform: scale(1.1);
}
.operation:hover{
    transform: scale(1.1);
}